@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color-bg: #753364;
        --primary-color-bg-hover: #CD5AB0;
        --seconday-color-bg: #34A23F;
        --seconday-color-bg-hover: #47DD56;
}

.bg-primary {
    background-color: var(--primary-color-bg);
}

.button-1 {
    display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 0.5rem;
        outline: none;
        transition: box-shadow 0.2s;
        color: white;
        background-color: var(--primary-color-bg);
    }

.button-1:hover {
    background-color: var(--primary-color-bg-hover);
    }


.button-2 {
    display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 0.5rem;
        outline: none;
        transition: box-shadow 0.2s;
        color: white;
        background-color: var(--seconday-color-bg);
    }

.button-2:hover {
    background-color: var(--seconday-color-bg-hover);
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        margin-bottom: 0.5rem;
    }

    input {
        border: 1px solid black;
        padding: 8px 12px;
            border-radius: 10px;
        }
        
        select {
            border: 1px solid black;
            padding: 8px 12px;
            border-radius: 10px;
    }
}
.gallery {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}